.alert {
    display: none;
}

.form-control {
    width: 50%;
}

.img-search-pane {
    margin: 20px 0 50px;
}

img {
    max-height: 150px;
    margin: 5px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    -moz-user-drag: none;     /* Firefox all */
    user-drag: none;
}

.img-selected {
    border: 3px solid var(--green);
}

.gallery,
.gallery-selected {
    height: 600px;
    overflow-y: auto;
}